{{#if users}}
<div class="row">
  <div class="col-sm-4">
    <table class="table table-striped table-bordered">
      <tbody>
        {{#each user in users}}
        <tr>
          <td>{{#link-to 'users'}}{{user.email}}{{/link-to}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="col-sm-8">
    {{outlet}}
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="well">
      {{#link-to 'organizations.index' class="btn btn-primary"}}Νέος Χρήστης{{/link-to}}
      {{#link-to 'organizations.index' class="btn btn-danger"}}Επιστροφή{{/link-to}}
    </div>
  </div>
</div>
{{else}}
<div class="row">
  <div class="col-sm-12">
    <p class="bg-warning">Δεν υπάρχουν χρήστες. {{#link-to 'organizations.index'}}Δημιουργία νέου χρήστη{{/link-to}}</p>
  </div>
</div>
{{/if}}
